.back-button {
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $color-secondary-light;
    border: solid 1px $color-primary-dark;
    border-radius: 4px;
    color: $color-primary-dark;
    font-size: $font-size-l;
    font-weight: $bold;
    @media all and (max-width:800px) {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: none;
        border: none;
        border-radius: none;
        color: $color-terciary-dark;
        text-transform: uppercase;
    }
}

.next-button {
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-image: linear-gradient(101deg, $color-primary-light, $color-primary-dark);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 4px;
    color: $color-light;
    font-size: $font-size-l;
    font-weight: $bold;
    @media all and (max-width:800px) {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 5px;
        padding-right: 5px;
        background: none;
        border: none;
        border-radius: none;
        box-shadow: none;
        color: $color-primary-dark;
        text-transform: uppercase;
    }
    @media all and (max-width: 420px) {
      font-size: $font-size-s;
  }
}

.visaButton-styles {
    height: 50px;
    width: 695px;
    background-color: $color-secondary-light;
    color: $color-primary-dark;
    border: 1px solid $color-primary-dark;
    border-radius:4px;
    font-size: $font-size-l;
    font-weight: $bold;
}


.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 14px;
    top: 30px;
  }
  
  body {
      background-color: grey;
      }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    top: -5px;
    left: 0;
    bottom: 4px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #06a790;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }