.back-button {
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $color-secondary-light;
    border: solid 1px $color-primary-dark;
    border-radius: 4px;
    color: $color-primary-dark;
    font-size: $font-size-l;
    font-weight: $bold;
    @media all and (max-width:800px) {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: none;
        border: none;
        border-radius: none;
        color: $color-terciary-dark;
        text-transform: uppercase;
    }
}

.next-button {
    padding-left: 52px;
    padding-right: 52px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-image: linear-gradient(101deg, $color-primary-light, $color-primary-dark);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 4px;
    color: $color-light;
    font-size: $font-size-l;
    font-weight: $bold;
    @media all and (max-width:800px) {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 5px;
        padding-right: 5px;
        background: none;
        border: none;
        border-radius: none;
        box-shadow: none;
        color: $color-primary-dark;
        text-transform: uppercase;
    }
}

.visaButton-styles {
    height: 50px;
    width: 695px;
    background-color: $color-secondary-light;
    color: $color-primary-dark;
    border: 1px solid $color-primary-dark;
    border-radius:4px;
    font-size: $font-size-l;
    font-weight: $bold;
    margin-top: 20px;
    margin-bottom: 40px;
}