.label-switch {
  padding-left: 18px;
  color: $color-secondary-dark;
  font-family: $font-family-primary;
  font-size: $font-size-plus-l;
  font-weight: $regular;
  @media all and (max-width: 700px) {
    font-size: $font-size-l;
  } 
  @media all and (max-width: 420px) {
    font-size: $font-size-m;
  } 
}
@media all and (max-width: 450px) {
  .label-switch span {
    flex-wrap: wrap;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 14px;
  border-radius:100px;
  box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  transform: translateY(-8px);
  background-color:#f8f9f8;
  box-shadow: -3px 2px 3px 0 rgba(0, 0, 0, 0.03), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 3px 2px 3px 0 rgba(0, 0, 0, 0.03);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #06a790;
}

input:focus + .slider {
  box-shadow: 0 0 1px #06a790;
}

input:checked +.slider:before {
  -webkit-transform: translate(26px, -8px);
  -ms-transform: translate(26px, -8px);
  transform: translate(26px, -8px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.slider-residency {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  
}

.position-switch {
  display: flex;
}

.lonely-switch {
  display: flex;
  align-self: center;
}