.titles-container {
    width: 695px;
    @media all and (max-width: 700px) {
        width: 200px;
    }
}

.number-step {
    color: $color-secondary-dark;
    font-size: $font-size-s;
    font-weight: $normal;
    @media all and (max-width: 600px) {
        font-size: $font-size-xs;
    }
}

.title-step {
    color: $color-dark;
    font-size: $font-size-xl;
    font-weight: $normal;
    margin-bottom: 20px;
    @media all and (max-width: 600px) {
        font-size: $font-size-m;
    }
}

.subtitles-step2 {
    display: block;
    width: 150px;
    margin: auto;
    color:$color-secondary-dark;
    font-size: $font-size-s;
    z-index: $second-layer;
    background-color:$color-secondary-light;
    text-align: center;
    font-weight: $regular;
    text-transform: uppercase;
}

.subtitle-step5 {
    font-size: $font-size-plus-l;
    font-weight: $regular;
    color: $color-secondary-dark;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 20px; 
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    @media all and (max-width: 600px) {
        font-size: $font-size-l;
    }
}

#passport {
    margin-bottom: 30px;
}

#Id {
    margin-bottom: 20px;
}