.titles-container {
    width: 695px;
}

.number-step {
    color: $color-secondary-dark;
    font-size: $font-size-s;
    font-weight: $normal;
}

.title-step {
    color: $color-dark;
    font-size: $font-size-xl;
    font-weight: $normal;
}