/* TYPOGRAPHY */

$font-size-xl: 36px;
$font-size-l: 18px;
$font-size-m: 15px;    
$font-size-s: 12px;

/* COLORES */

$color-primary-dark: #06a790;
$color-primary-light: #77c7ad;
$color-primary: #05b09b;
$color-secondary-light:#f8f9f8;
$color-terciary-dark:#8d9293;
$color-secondary-dark:#5b5b5b;
$color-dark:#222222;

/* TYPOGRAPHY WEIGHT */

$regular: 400;
$normal: 500;

/* Font-family */
$font-family-primary: 'Fira Sans', sans-serif;
