/* TYPOGRAPHY */

$font-size-xl: 36px;
$font-size-plus-l: 24px;
$font-size-l: 18px;
$font-size-m: 15px;    
$font-size-s: 12px;

/* COLORES */

$color-primary: #05b09b;
$color-light: #fff;
$color-primary-light: #77c7ad;
$color-secondary-light:#f8f9f8;
$color-terciary-light: #fcfcfd;
$color-navSteps-light: #fafbfa;
$color-dark:#222222;
$color-primary-dark: #06a790;
$color-terciary-dark:#8d9293;
$color-secondary-dark:#5b5b5b;

/* TYPOGRAPHY WEIGHT */

$regular: 400;
$normal: 500;
$bold: 600;

/* Font-family */
$font-family-primary: 'Fira Sans', sans-serif;

/*Z-index*/

$to-front: 5;
