.App {
    min-height: 100vh;
    background-color: $color-secondary-light;
}

.stepBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 145px;
    background-color: $color-secondary-light;
}

.step1 {
    padding-bottom: 270px;
}

.step2, 
.step5 {
    padding-bottom: 175px;
}

.subtitles-step2 {
    text-align: center;
    font-size: $font-size-m;
    font-weight: $regular;
    text-transform: uppercase;
    color: $color-secondary-dark;
}

.form {
    display: flex;
    flex-direction: column;
}

#landlinePhone {
    text-align: end;
}

.emergencyContact-step5 {
    display: flex;
}

.emergencyContact-container {
    display: flex;
    flex-direction: column;
}

.select-step5 {
    height: 20px;
}