.App {
    min-height: 100vh;
    background-color: $color-secondary-light;

    @media all and (max-width: 420px) {
       max-width: 100vh;
      }
}

.stepBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 145px;
    background-color: $color-secondary-light;
    @media all and (max-width: 420px) {
        padding-top: 80px;
    }
}

.step1 {
    padding-bottom: 270px;
    @media all and (max-width: 420px) {
        padding-bottom: 120px;
    }
}

.verticalDisplay {
    display: flex;
    @media all and (max-width: 700px) {
        flex-direction: column;
    }
}

.step2, 
.step5 {
    padding-bottom: 175px;
    @media all and (max-width: 420px) {
        padding-bottom: 120px;
    }
}

.subtitles-step2 {
    text-align: center;
    font-size: $font-size-m;
    font-weight: $regular;
    text-transform: uppercase;
    color: $color-secondary-dark;
    @media all and (max-width: 420px) {
        margin-top: 10px;
        font-size: $font-size-xs;
    }
}

.form {
    display: flex;
    flex-direction: column;
}

.issueDate {
    margin-right: 25px;
}

.visaButtonContent-container {
    display: flex;
    flex-direction: column;
}

.typeNumberVisa {
    display: flex;
}

.select-step2-visaType {
    height: 85px;
    width: 335px;
    border-radius: 3px;
    background-color: $color-light;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    outline: none;
    color: $color-primary-dark;
    font-size: $font-size-l;
    font-weight: $normal;
    padding: 15px 35px 15px 15px;
    margin-bottom: 30px;
    margin-right: 25px;
    appearance: none;
}

.select-step2-visaCountries {
    height: 85px;
    width: 695px;
    border-radius: 6px;
    background-color: $color-light;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    outline: none;
    color: $color-primary-dark;
    font-size: $font-size-xl;
    font-weight: $normal;
    padding: 15px 35px 15px 15px;
    margin-bottom: 30px;
    appearance: none;
}

.marginSomeInputs {
    margin-bottom: 25px;
}

#landlinePhone {
    text-align: end;
}

.emergencyContact-step5 {
    display: flex;
}

.emergencyContact-container {
    display: flex;
    flex-direction: column;
}

.select-step5 {
    height: 60px;
    width: 335px;
    border-radius: 3px;
    background-color: $color-light;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    outline: none;
    color: $color-primary-dark;
    font-size: $font-size-l;
    font-weight: $normal;
    padding: 15px 35px 15px 15px;
    margin-bottom: 30px;
    appearance: none;
}
.slider-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slider-residency {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    
}

.input-numerous-family {
    margin-top: 18px;
}

.input-numerous-family .marginSomeInputs{
    margin-bottom: 0px;
}

.select-residency {
    margin-top: 18px;
}