.header {
    height: 100px;
    width: 100%;
    background-color: $color-secondary-light;
    position: fixed;
    top: 0;
    background-image: linear-gradient(to bottom, $color-secondary-light, rgba(248, 249, 248, 0.3));
}