.header {
    height: 100px;
    width: 100%;
    background-color: $color-secondary-light;
    position: fixed;
    top: 0;
    z-index: $to-front;
    //border-bottom: 20px solid $color-secondary-light opacity($color: #fff);
}

.logoTRP {
    width: 50px;
    height: 35px;
    margin: 30px 30px;
}