/* TYPOGRAPHY */
/* COLORES */
/* TYPOGRAPHY WEIGHT */
/* Font-family */
/*Z-index*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Fira Sans", sans-serif; }

a {
  text-decoration: none; }

.header {
  height: 100px;
  width: 100%;
  background-color: #f8f9f8;
  position: fixed;
  top: 0;
  z-index: 10;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+67,ffffff+100&1+67,0+100 */
  background: -moz-linear-gradient(top, #f8f9f8 50%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f8f9f8 50%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f8f9f8 50%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f9f8', endColorstr='#00ffffff',GradientType=0 );
  /* IE6-9 */ }
  @media all and (max-width: 420px) {
    .header {
      display: inline-block;
      height: 60px;
      max-width: 100vh; } }

.logoTRP {
  width: 50px;
  height: 35px;
  margin: 30px 30px; }
  @media all and (max-width: 420px) {
    .logoTRP {
      margin: 10px 10px; } }

.App {
  min-height: 100vh;
  background-color: #f8f9f8; }
  @media all and (max-width: 420px) {
    .App {
      max-width: 100vh; } }

.stepBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 145px;
  background-color: #f8f9f8; }
  @media all and (max-width: 420px) {
    .stepBox {
      padding-top: 80px; } }

.step1 {
  padding-bottom: 270px; }
  @media all and (max-width: 420px) {
    .step1 {
      padding-bottom: 120px; } }

.verticalDisplay {
  display: flex;
  margin-bottom: 25px; }
  @media all and (max-width: 700px) {
    .verticalDisplay {
      flex-direction: column; } }

.step2,
.step5 {
  padding-bottom: 175px; }
  @media all and (max-width: 420px) {
    .step2,
    .step5 {
      padding-bottom: 120px; } }

.subtitles-step2 {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #5b5b5b; }
  @media all and (max-width: 420px) {
    .subtitles-step2 {
      margin-top: 10px;
      font-size: 10px; } }

.form {
  display: flex;
  flex-direction: column; }

.issueDate {
  margin-right: 25px; }

.visaButtonContent-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px; }

.typeNumberVisa {
  display: flex; }

.select-step2-visaType {
  height: 85px;
  width: 335px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  outline: none;
  color: #06a790;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 35px 15px 15px;
  margin-bottom: 30px;
  margin-right: 25px;
  appearance: none; }

.select-step2-visaCountries {
  height: 85px;
  width: 695px;
  border-radius: 6px;
  background-color: #fff;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  outline: none;
  color: #06a790;
  font-size: 36px;
  font-weight: 500;
  padding: 15px 35px 15px 15px;
  margin-bottom: 30px;
  appearance: none; }

.marginSomeInputs {
  margin-bottom: 25px; }

#landlinePhone {
  text-align: end; }

.emergencyContact-step5 {
  display: flex; }

.emergencyContact-container {
  display: flex;
  flex-direction: column; }

.select-step5 {
  height: 60px;
  width: 335px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  outline: none;
  color: #06a790;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 35px 15px 15px;
  margin-bottom: 30px;
  appearance: none; }

.slider-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.slider-residency {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.input-numerous-family {
  margin-top: 18px; }

.input-numerous-family .marginSomeInputs {
  margin-bottom: 0px; }

.select-residency {
  margin-top: 18px; }

.select-residency .position-label #Locality.marginSomeInputs {
  margin-bottom: 0px; }

.hidden {
  display: none; }

.navigation-container {
  width: 100%;
  height: 120px;
  display: flex;
  position: fixed;
  z-index: 10;
  bottom: 0;
  background-color: #f8f9f8;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  justify-content: center;
  align-items: center; }

.list-steps {
  display: flex;
  flex-basis: 50%;
  justify-content: space-evenly; }

.back-button-link {
  margin: auto; }

.container-nexts {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

.nav-steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #5b5b5b;
  font-weight: 500; }

.nav-label {
  margin-top: 10px;
  width: 75px;
  height: 40px;
  text-align: center;
  line-height: 1.5; }
  @media all and (max-width: 800px) {
    .nav-label {
      display: none; } }

.jumpLink {
  padding-top: 9px;
  text-align: center;
  font-size: 12px;
  color: #5b5b5b;
  font-weight: 500; }
  @media all and (max-width: 800px) {
    .jumpLink {
      display: none; } }

.jumpLink-colorText {
  font-weight: 600;
  color: #05b09b; }

.stepActive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: #fafbfa;
  color: #5b5b5b;
  box-shadow: -3px 2px 3px 0 rgba(0, 0, 0, 0.03), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 3px 2px 3px 0 rgba(0, 0, 0, 0.03); }
  @media all and (max-width: 800px) {
    .stepActive {
      width: 8pt;
      height: 8pt;
      color: #05b09b;
      background-color: #05b09b;
      border-radius: 100%;
      box-shadow: none; } }

.stepInactive {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #06a790;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media all and (max-width: 800px) {
    .stepInactive {
      width: 8pt;
      height: 8pt;
      color: #d3d9da;
      background-color: #d3d9da;
      border-radius: 100%;
      box-shadow: none; } }

.stepCompleted {
  color: white;
  border: 1px solid #56027e;
  background-color: #56027e; }

@media all and (max-width: 800px) {
  /* Reglas CSS que aplicaremos */ }

.step-4 {
  margin-bottom: 120px; }

.preference-title {
  margin-top: 20px;
  margin-bottom: 6px;
  color: #5b5b5b;
  font-size: 24px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500; }
  @media all and (max-width: 600px) {
    .preference-title {
      font-size: 18px; } }

.section-title {
  display: block;
  width: 150px;
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  color: #5b5b5b;
  font-size: 12px;
  z-index: 5;
  background-color: #f8f9f8; }
  @media all and (max-width: 600px) {
    .section-title {
      width: 150px;
      margin: auto; } }

.step4-radio {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 63px;
  width: 162px;
  border-radius: 4px;
  background-color: #fcfcfd;
  box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.1); }
  @media all and (max-width: 600px) {
    .step4-radio {
      height: 60px;
      width: auto; } }

.step4-row {
  display: flex;
  flex-direction: row; }
  @media all and (max-width: 600px) {
    .step4-row {
      flex-direction: column; } }

.step4-option {
  font-size: 12px;
  font-weight: 600;
  margin-top: 0px; }
  @media all and (max-width: 420px) {
    .step4-option {
      margin-top: 5px;
      font-size: 10px; } }

.step4-box {
  display: flex;
  flex-direction: column;
  width: 696px;
  height: 116px;
  border-radius: 6px;
  background-color: rgba(252, 252, 253, 0.4);
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 0px 24px 24px 24px;
  margin-bottom: 24px;
  margin-top: 24px; }
  @media all and (max-width: 600px) {
    .step4-box {
      width: 200px;
      height: auto;
      margin: 24px auto; } }

.step4-transport-box {
  display: flex;
  flex-direction: column;
  height: 116px;
  border-radius: 6px;
  background-color: rgba(252, 252, 253, 0.4);
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 24px 24px 24px 24px;
  margin-bottom: 24px;
  margin-top: 24px; }
  @media all and (max-width: 600px) {
    .step4-transport-box {
      margin: 24px auto;
      border: solid 1px rgba(0, 0, 0, 0.1);
      width: 300px;
      height: auto;
      margin: 12px 0; } }

.box2 {
  width: 372px; }
  @media all and (max-width: 600px) {
    .box2 {
      width: 200px;
      margin: 24px auto; } }

.box3 {
  width: 535px; }
  @media all and (max-width: 600px) {
    .box3 {
      width: 200px;
      margin: 20px auto; } }

.step4-boxtitle {
  display: flex;
  align-items: center;
  height: 29px;
  font-family: "Fira Sans", sans-serif;
  font-size: 10px;
  font-weight: 500;
  color: #8d9293; }

.section-line {
  transform: translateY(9px);
  background-color: rgba(0, 0, 0, 0.1); }

.radio-button {
  align-self: center;
  width: 24px;
  height: 24px;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0.05);
  position: relative;
  opacity: 0.5;
  background-color: #fcfcfd;
  border-radius: 50%; }
  @media all and (max-width: 600px) {
    .radio-button {
      width: 14px;
      height: 14px; } }

.selected {
  background-color: #fafbfa;
  color: #5b5b5b;
  border-color: #06a790; }

.no-selected {
  background-color: rgba(0, 0, 0, 0.05);
  color: #06a790; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the indicator (dot/circle) when checked */
.checkmark input:checked .checkmark:after {
  display: block; }

/* Style the indicator (dot/circle) */
.step4-radio .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #06a790; }

.divider {
  width: 696px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1); }

.position-label {
  position: relative; }

.placeholder-label {
  position: absolute;
  top: 0;
  left: 0;
  color: #8d9293;
  transition: all 0.2s;
  font-size: 36px;
  font-weight: 500;
  padding: 24px 0 18px 24px; }
  @media all and (max-width: 600px) {
    .placeholder-label {
      font-size: 15px; } }

.control-label {
  width: 695px;
  height: 85px;
  padding: 24px 0 18px 24px;
  color: #06a790;
  font-size: 36px;
  font-weight: 600;
  border-radius: 6px;
  box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #f8f9f8;
  outline: none; }
  @media all and (max-width: 700px) {
    .control-label {
      font-size: 15px;
      width: 200px;
      height: 50px; } }

.control-label:focus + .placeholder-label {
  font-size: 15px;
  padding: 3px 0 0 12px; }
  @media all and (max-width: 700px) {
    .control-label:focus + .placeholder-label {
      font-size: 12px;
      padding: 5px 0; } }

.label-located {
  font-size: 15px;
  padding: 3px 0 0 12px;
  color: #8d9293;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0; }
  @media all and (max-width: 600px) {
    .label-located {
      font-size: 12px; } }

.half-input {
  width: 335px; }
  @media all and (max-width: 600px) {
    .half-input {
      width: 200px; } }

.titles-container {
  width: 695px; }
  @media all and (max-width: 700px) {
    .titles-container {
      width: 200px; } }

.number-step {
  color: #5b5b5b;
  font-size: 12px;
  font-weight: 500; }
  @media all and (max-width: 600px) {
    .number-step {
      font-size: 10px; } }

.title-step {
  color: #222222;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px; }
  @media all and (max-width: 600px) {
    .title-step {
      font-size: 15px; } }

.subtitles-step2 {
  display: block;
  width: 150px;
  margin: auto;
  color: #5b5b5b;
  font-size: 12px;
  z-index: 5;
  background-color: #f8f9f8;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase; }

.subtitle-step5 {
  font-size: 24px;
  font-weight: 400;
  color: #5b5b5b;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

#passport {
  margin-bottom: 30px; }

#Id {
  margin-bottom: 20px; }

.back-button {
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f8f9f8;
  border: solid 1px #06a790;
  border-radius: 4px;
  color: #06a790;
  font-size: 18px;
  font-weight: 600; }
  @media all and (max-width: 800px) {
    .back-button {
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 5px;
      padding-right: 5px;
      background-color: none;
      border: none;
      border-radius: none;
      color: #8d9293;
      text-transform: uppercase; } }

.next-button {
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-image: linear-gradient(101deg, #77c7ad, #06a790);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: 600; }
  @media all and (max-width: 800px) {
    .next-button {
      padding-top: 2px;
      padding-bottom: 2px;
      padding-left: 5px;
      padding-right: 5px;
      background: none;
      border: none;
      border-radius: none;
      box-shadow: none;
      color: #06a790;
      text-transform: uppercase; } }
  @media all and (max-width: 420px) {
    .next-button {
      font-size: 12px; } }

.visaButton-styles {
  height: 50px;
  width: 695px;
  background-color: #f8f9f8;
  color: #06a790;
  border: 1px solid #06a790;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 40px; }
  @media all and (max-width: 600px) {
    .visaButton-styles {
      height: 40px;
      width: 200px;
      font-size: 15px;
      margin-bottom: 20px; } }

.label-switch {
  margin-left: 18px;
  color: #5b5b5b;
  font-family: "Fira Sans", sans-serif;
  font-size: 24px;
  font-weight: 400; }

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 14px;
  border-radius: 100px;
  box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.1); }

.switch input {
  display: none; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  transform: translateY(-8px);
  background-color: #f8f9f8;
  box-shadow: -3px 2px 3px 0 rgba(0, 0, 0, 0.03), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 3px 2px 3px 0 rgba(0, 0, 0, 0.03);
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #06a790; }

input:focus + .slider {
  box-shadow: 0 0 1px #06a790; }

input:checked + .slider:before {
  -webkit-transform: translate(26px, -8px);
  -ms-transform: translate(26px, -8px);
  transform: translate(26px, -8px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }
