/* TYPOGRAPHY */
/* COLORES */
/* TYPOGRAPHY WEIGHT */
/* Font-family */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Fira Sans", sans-serif; }

a {
  text-decoration: none; }

.CalendarDay__highlighted_calendar {
  background: #82E0AA;
  color: #186A3B; }

.CalendarDay__highlighted_calendar:hover {
  background: #58D68D;
  color: #186A3B; }

.CalendarDay__highlighted_calendar:active {
  background: #58D68D;
  color: #186A3B; }

.SingleDatePickerInput {
  width: 335px;
  height: 85px;
  border-radius: 6px;
  box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #f8f9f8; }

.DateInput_input.DateInput_input_1.DateInput_input__small.DateInput_input__small_2 {
  width: 335px;
  height: 85px;
  position: relative; }

.placeholder-label_calendar {
  position: absolute;
  top: 0;
  left: 0;
  color: #8d9293;
  transition: all 0.2s;
  font-size: 36px;
  font-weight: 500;
  padding: 24px 0 18px 24px; }

.SingleDatePickerInput_calendarIcon.SingleDatePickerInput_calendarIcon_1 {
  position: absolute;
  right: 0;
  padding: 0;
  margin-top: 24px;
  margin-right: 30px; }

.SingleDatePickerInput_calendarIcon_svg.SingleDatePickerInput_calendarIcon_svg_1 {
  width: 36px;
  height: 36px;
  fill: #06a790; }

.header {
  height: 100px;
  width: 100%;
  background-color: #f8f9f8;
  position: fixed;
  top: 0;
  background-image: linear-gradient(to bottom, #f8f9f8, rgba(248, 249, 248, 0.3)); }

.logoTRP {
  width: 50px;
  height: 35px;
  margin: 30px 30px; }

.App {
  min-height: 100vh;
  background-color: #f8f9f8; }

.stepBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 145px;
  background-color: #f8f9f8; }

.step1 {
  padding-bottom: 270px; }

.step2,
.step5 {
  padding-bottom: 175px; }

.subtitles-step2 {
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #5b5b5b; }

.form {
  display: flex;
  flex-direction: column; }

.marginSomeInputs {
  margin-bottom: 25px; }

#landlinePhone {
  text-align: end; }

.emergencyContact-step5 {
  display: flex; }

.emergencyContact-container {
  display: flex;
  flex-direction: column; }

.select-step5 {
  height: 60px;
  width: 335px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  outline: none;
  color: #06a790;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 35px 15px 15px;
  margin-bottom: 30px;
  appearance: none; }

.position-nav {
  bottom: 0;
  position: fixed;
  background-color: #f8f9f8;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14); }

.navigation-container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 120px;
  margin-left: 70px;
  margin-right: 70px; }

.list-steps {
  display: flex;
  flex-grow: 1;
  justify-content: space-around; }

.hidden {
  display: none; }

.nav-steps {
  height: 70px;
  text-transform: uppercase;
  font-size: 12px;
  color: #5b5b5b;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.nav-label {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  height: 40px;
  line-height: 1.5;
  margin-top: 10px;
  width: 60px; }

.back-button {
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f8f9f8;
  border: solid 1px #06a790;
  border-radius: 4px;
  color: #06a790;
  font-size: 18px;
  font-weight: 600; }
  @media all and (max-width: 1000px) {
    .back-button {
      background-color: #f8f9f8;
      border-radius: 0px;
      border: none;
      color: #8d9293; } }

.next-button {
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-image: linear-gradient(101deg, #77c7ad, #06a790);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: 600; }
  @media all and (max-width: 1000px) {
    .next-button {
      background-color: #f8f9f8;
      border-radius: 0px;
      border: none;
      color: #06a790;
      background-image: none;
      box-shadow: none; } }

.nav-label_step {
  color: #5b5b5b;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500; }

.stepActive {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: #fafbfa;
  color: #5b5b5b;
  box-shadow: -3px 2px 3px 0 rgba(0, 0, 0, 0.03), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 3px 2px 3px 0 rgba(0, 0, 0, 0.03); }

.stepInactive {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #06a790;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }

.stepCompleted {
  color: white;
  border: 1px solid #56027e;
  background-color: #56027e; }

.container-nexts {
  display: flex;
  flex-direction: column; }

.jumpLink {
  padding-top: 9px;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  color: #5b5b5b;
  font-weight: 500; }

.jumpLink-colorText {
  font-weight: 600;
  color: #05b09b; }

.position-label {
  position: relative; }

.placeholder-label {
  position: absolute;
  top: 0;
  left: 0;
  color: #8d9293;
  transition: all 0.2s;
  font-size: 36px;
  font-weight: 500;
  padding: 24px 0 18px 24px; }

.control-label {
  width: 695px;
  height: 85px;
  padding: 24px 0 18px 24px;
  color: #06a790;
  font-size: 36px;
  font-weight: 600;
  border-radius: 6px;
  box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #f8f9f8;
  outline: none; }

.control-label:focus + .placeholder-label {
  font-size: 15px;
  padding: 3px 0 0 12px; }

.label-located {
  font-size: 15px;
  padding: 3px 0 0 12px; }

.position-calendar {
  position: relative;
  height: 85px;
  display: inline-block; }

.titles-container {
  width: 695px; }

.number-step {
  color: #5b5b5b;
  font-size: 12px;
  font-weight: 500; }

.title-step {
  color: #222222;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 20px; }
